#bg {
  background-color: #595756;
}

#bg2 {
  background-color: #343A40;
}

#botcont {
  top:75px;
}

.carousel-inner img {
  width: 100%;
  height: 100%;
}
.center {
  align-items: center;
}

#hd1 {
  top:50px;
  text-align: center;
  color: white;
}

#copyright {
  text-align: center;
  margin-top: 140px;
  color: white;
  font-size: 12px;
}

h1 {
  text-shadow: 2px 2px #000000;
}

.c {
  margin: auto;
  display: block;
}

.img-circle {
    border-radius: 50%;
}
.homecontainer{
  margin-left: 100px;
}
.flex-row {
  display: flex;
  justify-content: center;
}
.container{
  position: relative;
  margin-top: 100px;
  margin-left: 400px;
}
.container .outageReportButton{
  position: relative;
  background-color: #6f747c;
  font-size: 20px;
  color: white;
  margin-left: 220px;
}
.container .outageReportButton:hover{
  background-color: #c7d1e0;
}
.col-sm h3 {
  color:  white;
  text-decoration: underline;
  width: 300px;
}
.col-sm p {
  color:  white;
  font-size: 20px;
  width: 300px;
}
