#bg {
  background-color: #595756;
}

#bg2 {
  background-color: #343A40;
  height: 50%;
}

#botcont {
  top:75px;
}

#pdf {
  margin-left: 100px;
  margin-top: 30px;
}
.card-body {
  color: black;
}
.carousel-inner img {
  width: 1900px;
  height: 500px;
}
.carousel{

}
.center {
  align-items: center;
}

#hd1 {
  top:50px;
  text-align: center;
  color: white;
}

#copyright {
  text-align: center;
  margin-top: 140px;
  color: white;
  font-size: 12px;
}

h1 {
  text-shadow: 2px 2px #000000;
}

.c {
  margin: auto;
  display: block;
}

.img-circle {
    border-radius: 50%;
}

.flex-row {
  display: flex;
  justify-content: center;
}
#outagecontainer{
  position: relative;
  margin-top: 100px;
  margin-left: 220px;
}

.dropdown-backdrop {
  position: static;
}

.container .outageReportButton{
  position: relative;
  background-color: #6f747c;
  font-size: 20px;
  color: white;
  margin-left: 220px;
}
.container .outageReportButton:hover{
  background-color: #c7d1e0;
}
.col-sm h1 {
  color:  white;
  text-decoration: underline;
  font-size: 30px;
  width: 300px;
}
.col-sm p {
  color:  white;
  font-size: 20px;
}
